{{#if signin}}

{{else}}
<nav class="nav flex-column bg-secondary">
    <a class="nav-link text-light active" aria-current="page" href="">Dashboard</a>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed bg-secondary text-light" type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                    aria-controls="flush-collapseOne">
                    Management
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <a class="nav-link text-dark" href="/admin/devices">Devices</a>
                    <a class="nav-link text-dark" href="">Settings</a>
                    {{!-- <a class="nav-link text-dark" href="">About</a>
                    <a class="nav-link text-dark" href="">Contact</a> --}}
                </div>
            </div>
        </div>
        {{!-- <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed bg-secondary text-light" type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                    aria-controls="flush-collapseTwo">
                    Users
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">

                </div>
            </div>
        </div> --}}
    </div>
</nav>
{{/if}}