<footer class="py-4 footer-container">
    <div class="container-fluid ms-auto me-auto">
        <div class="d-flex justify-content-center">
            &copy Copyright 2024 IOT Group. All rights reserved.
        </div>
    </div>
</footer>